<div class="bg-light">
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
      <li class="nav-item ">
          <a routerLink="" routerLinkActive = "active" class="nav-link h3 mx-3"> Home</a>
      </li>
  </ul>
</nav>
<br>
<h1 class="text-center"> Cinema </h1>
<div class="container">
  <router-outlet></router-outlet>
</div>
<footer class="footer bg-dark">
  <div class = "container">
      <span>
           <h4 class = "h4">Cinema - Angular Spring Boot App </h4> 
      </span>
  </div>
</footer>
</div>
